<%- include('partials/header') %>





<div class="final">
  <h1>Thank You :)</h1>
  <p class="pa">Your Appointment is booked. Have a Great day.</p>

</div>



















<%- include('partials/footer') %>
