<%- include('partials/header') %>




<div class="jumbotron centered">
  <div class="container">
    <!-- <i class="fas fa-key fa-6x"></i> -->
    <h1 class="display-3">EasyMed </h1>
    <p class="lead">A website for every medical assistance.</p>
    <p class="lead" >What are you waiting for do login and book an appointment.</p>
    <img class="homimg"  src="https://www.pngitem.com/pimgs/m/96-969204_physician-of-symbol-as-vector-caduceus-doctors-clipart.png" alt="Doctor" />
    <!-- <i class="fa-solid fa-stethoscope fa-6x"></i> -->
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>


<%- include('partials/footer') %>
