<%- include('partials/header') %>




<section class="colored-section" id="title">

  <div class="container-fluid">

    <!-- Nav Bar -->

    <nav class="navbar navbar-expand-lg navbar-dark">

      <a class="navbar-brand" href="">EasyMed
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="mailto:rakeshn8721@gmail.com">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#pricing">Facilities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </nav>


    <!-- Title -->

    <div class="row">

      <div class="col-lg-6">
        <h1 class="big-heading">The right place for all your medical assistance.</h1>

        <a class="btn btn-light btn-light btn-lg download-button" href="#features" role="button">Explore </a>
        <a class="btn btn-light btn-dark btn-lg download-button" href="#pricing" role="button">Book an Appointment</a>

        <!-- <button type="button" class="btn btn-dark btn-lg download-button" href="/home" role="button"> Logout</button> -->
        <!-- <button type="button" class="btn btn-outline-light btn-lg download-button" href="/signup" role="button"> SignUp</button> -->
      </div>

      <div class="col-lg-6">
        <img class="title-image" src="https://www.pngitem.com/pimgs/m/96-969204_physician-of-symbol-as-vector-caduceus-doctors-clipart.png" alt="">
      </div>

    </div>

  </div>

</section>


<!-- Features -->

<section class="white-section" id="features">

  <div class="container-fluid">

    <div class="row">
      <div class="feature-box col-lg-4">
        <i class="icon fas fa-check-circle fa-4x"></i>
        <h3 class="feature-title">24/7</h3>
        <p>Always ready to Serve.</p>
      </div>

      <div class="feature-box col-lg-4">
        <i class="icon fas fa-bullseye fa-4x"></i>
        <h3 class="feature-title">Why Us?</h3>
        <p>We have all the expert Doctor's.</p>
      </div>

      <div class="feature-box col-lg-4">
        <i class="icon fas fa-heart fa-4x"></i>
        <h3 class="feature-title">Caring.</h3>
        <p>Most advanced healthcare techonologies</p>
      </div>
    </div>


  </div>
</section>


<!-- Testimonials -->

<section class="colored-section" id="testimonials">

  <div id="testimonial-carousel" class="carousel slide" data-ride="false">
    <div class="carousel-inner">
      <div class="carousel-item active container-fluid">
        <h2 class="testimonial-text">It is Health that real wealth.
        And not a pieces of gold and silver.</h2>
        <img class="testimonial-image" src="https://static.india.com/wp-content/uploads/2020/06/Mahatma-Gandhi-Insta.jpg" alt="M K Gandhi">
        <em>- M K Gandhi</em>
      </div>
      <div class="carousel-item container-fluid">
        <h2 class="testimonial-text">Health is a like a money.we never have true idea until we lose it.</h2>
        <img class="testimonial-image" src="https://todayinsci.com/B/Billings_Josh/BillingsJosh300px.jpg" alt="">
        <em>- Josh Billings</em>
      </div>
      <div class="carousel-item container-fluid">
        <h2 class="testimonial-text"> Health does not always come from medicine.Most of the time it comes from peace of mind,peace in the heart,peace in the soul.it comes from laughter and love. </h2>
        <img class="testimonial-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/A._P._J._Abdul_Kalam_in_2008.jpg/450px-A._P._J._Abdul_Kalam_in_2008.jpg?20181205005320" alt="">
        <em>- A.P.J Abdul Kalam</em>
      </div>
    </div>
    <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
  <span class="carousel-control-next-icon"></span>
    </a>
  </div>

</section>


<!-- Pricing -->

<section class="white-section" id="pricing">

  <h2 class="section-heading">A Plan for Every Needs</h2>
  <p>Simple and affordable price plans </p>

  <div class="row">

    <div class="pricing-column col-lg-4 col-md-6">
      <div class="card">
        <div class="card-header">
          <h3>Checkup type-1</h3>
        </div>
        <div class="card-body">
          <h2 class="price-text">$20</h2>
          <p>Blood Pressure</p>
          <p>Eye Checkup</p>
          <!-- <button class="btn btn-lg btn-block btn-dark" type="button">Sign Up</button> -->
          <a class="btn btn-lg btn-block btn-dark" type="button" href="/signup" role="button">sign Up</a>
        </div>
      </div>
    </div>

    <div class="pricing-column col-lg-4 col-md-6">
      <div class="card">
        <div class="card-header">
          <h3>Checkup type-2</h3>
        </div>
        <div class="card-body">
          <h2 class="price-text">$49</h2>
          <p>Full Body Checkup</p>
          <p>Thearapy</p>
          <!-- <button class="btn btn-lg btn-block btn-dark" type="button">Sign Up</button> -->
          <a class="btn btn-lg btn-block btn-dark" type="button" href="/signupm" role="button">sign Up</a>
        </div>
      </div>
    </div>

    <div class="pricing-column col-lg-4">
      <div class="card">
        <div class="card-header">
          <h3>Checkup type-3</h3>
        </div>
        <div class="card-body">
          <h2 class="price-text">$99</h2>
          <p>Scanning</p>
          <p>Surgery</p>
          <!-- <button class="btn btn-lg btn-block btn-dark" type="button">Sign Up</button> -->
          <a class="btn btn-lg btn-block btn-dark" type="button" href="/signupy" role="button">sign Up</a>
        </div>
      </div>
    </div>
    <div id="about">
      <h1>About Us:</h1>
      <p>We are experts in this medical field with over 5 years experience. What that means is you are going to get right
solution. please find our services.</p>
<p>we provide a better service at reasonable costs.</p>
    </div>



  </div>

</section>




<footer class="colored-section" id="footer">
  <div class="container-fluid">
    <p class="pa">© Copyright 2022 EasyMed</p>
  </div>
</footer>


<%- include('partials/footer') %>
