<%- include('partials/header') %>
<body class="log">


<div class="cent">
  <h1 class="heading">Register</h1>

  <!-- <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body-log"> -->

          <!-- Makes POST request to /register route -->
          <form action="/register" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input autofocus required type="email" class="form-control" name="username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input required type="password" class="form-control" name="password">
            </div>
            <!-- <button type="submit" class="btn btn-dark">Register</button> -->
            <input type="submit"  value="sign in">

          </form>


        </div>
      <!-- </div> -->
    <!-- </div> -->

    <!-- <div class="col-sm-4">
      <div class="card social-block">
        <div class="card-body">
          <a class="btn btn-block" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign Up with Google
          </a>
        </div>
      </div>
    </div> -->

  <!-- </div> -->
<!-- </div> -->
</body>

<%- include('partials/header') %>
